@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}
body {
  background-color: #f5f8f9;
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
}

.container {
  display: flex;
  margin: 0 auto;
}

.main {
  background: #fff;
  flex-basis: 50%;
  margin: 2rem;
  border-radius: 10px;
}
.aside {
  margin: 2rem;
  flex-basis: 40%;
}
.aside-wrapper {
  padding: 4rem;
}

.main-wrapper {
  padding: 4rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.person {
  background: #f5f8f9;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.25rem 0.5rem 1rem;
  border-radius: 30px;
}
.person img {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  margin-left: 2rem;
}

.payment {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  margin: 4rem 0 1rem 0;
}
.card {
  display: flex;
  align-items: stretch;
}

.card-secure2 {
  margin-left: 0.5rem;
}
.heading {
  font-size: 3rem;
  font-weight: 600;
}
.text-bold {
  font-weight: 600;
  font-size: 1.4rem;
}
.text-light {
  color: #bababa;
  font-size: 1rem;
}

.paypal {
  display: flex;
  border-bottom: 2px solid #1a2e37;
  padding-bottom: 2rem;
}
.paypal p + p {
  margin-left: 2rem;
}
.paypal p {
  font-size: 1.5rem;
}
.paypal p:nth-child(2),
.paypal p:nth-child(3) {
  color: #bababa;
}

.master {
  display: flex;
  justify-content: space-between;
}

.credit-cards {
  margin: 4rem 0;
  flex-basis: 40%;
}

.credit-card {
  width: 250px;
  height: 125px;
  position: relative;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.content-cc {
  position: absolute;
  right: 10%;
  top: 10px;
  font-weight: 700;
}
.visa {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.svg3 {
  position: absolute;
  left: -20px;
}
.circle {
  position: absolute;

  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.dark-blue {
  background: #3e4b78;
  bottom: 20px;
  left: 60px;
}
.dark-green {
  top: 10px;
  left: 20px;
  background: #536b40;
}
.dark-brown {
  background: #ac682a;
  bottom: 10px;
  left: 20px;
}
.content-plus {
  display: flex;
  position: absolute;
  top: 40%;
  right: 20px;
}
.plus {
  background: #040404;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
}

.credit-card-input {
  margin: 4rem 0 4rem 4rem;
  flex-basis: 60%;
}
form label {
  color: #bababa;
  font-size: 1.2rem;
}
form input {
  border: none;
  outline: none;
  background: #f5f8f9;
  padding: 0;
  width: 100%;
  padding: 1rem 8rem 1rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
::-webkit-input-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #040404;
}

:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #040404;
}

:-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #040404;
}
::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #040404;
}

form input:focus {
  border: none;
  outline: none;
  background: #f5f8f9;
}
.form-control {
  margin-bottom: 4rem;
}
.form-group {
  display: flex;
  /* justify-content: start; */
  align-items: center;
}

.form-group .form-control:nth-child(2) {
  margin-left: 1rem;
  flex-basis: 100%;
}
.form-group .form-control:nth-child(1) {
  flex-basis: 100%;
}
.input-group {
  position: relative;
  background: #f5f8f9;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem 0rem 0.5rem 0rem;
  border-radius: 4px;
}
.svg {
  position: absolute;
  right: 10px;
}
.btn-group {
  display: flex;
  justify-content: space-between;
}

.btn {
  display: block;
  width: 100%;
  padding: 2rem 0;
  background: #040404;
  color: #f5f5f5;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
}
.light {
  margin-left: 2rem;
  color: #bababa;
  background: #f5f8f9;
}

.shipping {
  display: flex;
  align-items: center;
  color: #bababa;
}
.icons {
  margin-right: 1rem;
  width: 40px;
  height: 40px;
  border-radius: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blue {
  background: #ced9fd;
}
.brown {
  background: #f9cba1;
}
.green {
  background: #bddba6;
}

.aside-content {
  margin-top: 4rem;
}
.prada-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 1rem 1rem;
  margin: 2rem 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1.3rem;
}

.prada-margin {
  margin: 4rem 2rem;
}

.prada-none {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  font-weight: 600;
  color: #040404;
  font-size: 1.3rem;
}

.text-prada-ligth {
  color: #bababa;
  font-weight: 400;
}
.prada-no-margin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.3rem;
  margin: 4rem 0;
}
.total {
  font-weight: 900;
  font-size: 1.6rem;
}
